.address-edit-title {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    padding: 40px 0 20px 0;
}

.address-edit {
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-emphasis: center;
}

.address-edit form {
    display: flex;
    flex-direction: column;
}

.address-edit-item {
    margin-bottom: 15px;
}

.address-edit-label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    color: #000000;
}

.address-edit-input {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.address-edit-button {
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    background-color: #FF5555;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.address-edit-button:hover {
    background-color: #c74040;
}

.form-error-message {
    color: #FF5555;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    text-align: left;
}

/* PCサイズ（1400px〜1540px）に最適化 */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .address-edit {
        max-width: 720px;
        padding: 30px;
    }

    .address-edit-title {
        font-size: 40px;
    }

    .address-edit-label {
        font-size: 26px;
    }

    .address-edit-input {
        height: 65px;
        font-size: 18px;
    }

    .address-edit-button {
        font-size: 28px;
        padding: 24px;
    }

    .form-error-message {
        font-size: 15px;
    }
}

/* タブレットサイズ（768px〜850px）に最適化 */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .address-edit {
        max-width: 80%;
        padding: 16px;
    }

    .address-edit-title {
        font-size: 32px;
        padding: 30px 0 16px 0;
    }

    .address-edit-label {
        font-size: 20px;
    }

    .address-edit-input {
        height: 55px;
        font-size: 16px;
    }

    .address-edit-button {
        font-size: 24px;
        padding: 18px;
    }

    .form-error-message {
        font-size: 13px;
    }
}