/* ブラウザのデフォルト余白をリセット */
html,
body {
    margin: 0;
    padding: 0;
}

.app-simple {
    max-width: 2000px;
    /* 中央寄せ＆余白確保 */
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

.header-simple {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    background-color: #000000;
    width: 100%;
}

.header-logo-img {
    width: 370px;
    height: auto;
    padding-left: 30px;
}

.header-logo-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1 {
    all: unset;
    font-size: 24px;
    font-weight: bold;
}

.main-content {
    font-size: 18px;
}

/* PCサイズ（1400〜1540px）対応 */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .main-content {
        font-size: 20px;
    }

    .header-logo-img {
        width: 400px;
    }

    .app-simple {
        gap: 30px;
    }

}

/* タブレットサイズ（768〜850px）対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .main-content {
        font-size: 16px;
    }

    .header-logo-img {
        width: 300px;
    }

    .app-simple {
        gap: 15px;
    }
}